<div class="container">
    <div class="row">
        <div class="col-md-4" *ngFor="let p of product">
            <div class="card m-2">
                <div class="card-head">
                 <img [src]="p.productImg" alt="" height="300" width="300">
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{p.productName}}</h3>
                    <h5 class="card-title">{{p.productPrice|currency:'INR'}}</h5>
                    <p class="card-text">{{p.productDescription}}</p>
                </div>
                <div class="card-footer mt-2">
                    <button class="btn btn-warning me-2">Edit</button>
                    <!-- <button class="btn btn-danger" (click)="deletenow(p.productId)">Delete</button> -->
                </div>
            </div>
        </div>
    </div>
</div>